/*-----------------------------------------------------------------------------
 * @package:    MMOD Panel
 * @author:     Richard B Winters
 * @copyright:  2011-2021 Massively Modified, Inc.
 * @license:    Apache-2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:    1.3.0
 *---------------------------------------------------------------------------*/
.viewport {
  margin: 0;
  padding: 6px;
  display: block;
}

.viewport--preferences {
  margin: 0;
  padding: 6px;
  display: block;
}
